DB_SUR_HOST=""
DB_SUR_USERNAME=""
DB_SUR_NAME=""
DB_SUR_PASSWORD=""
DB_TELEFONIA_HOST=""
DB_TELEFONIA_USERNAME=""
DB_TELEFONIA_NAME=""
DB_TELEFONIA_PASSWORD=""
MAILER_HOST=""
MAILER_USERNAME=""
MAILER_PASSWORD=""
MAILER_PORT=""
MAILER_ENCRYPTION=""
ENCUESTA_PRIVATE_KEY=""
ENDPOINT_RUNNEU_NUEVA_SENNYA="https://rundesaphp.neuquen.gov.ar/sur/nuevaSennya"
ENDPOINT_BACKEND_SUR_PHP=""
OPTIC_VIOLENCIA_ID_SISTEMA_SUR=
SUR_USER=
SUR_PASSWORD=
ENDPOINT_API_SUR_NEST=""
ENDPOINT_API_SUR_NEST_LOGIN=""