body { 


	background-image: url('../RegistroDeEntregasDeEquipos/Imagenes/fondo.jpg');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 50% 300px; 
	
	
}


#DivParrafo{


	width:700px;
}

#DivInsumos{


	width:700px;
}

