

hr {

  border-color: blue;
  box-shadow: 2px 0px 2px #888;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px Blue, 0 0 30px Blue, 0 0 40px Blue, 0 0 55px Blue, 0 0 75px blue;
}

h1{
color: blue;
background-color: black;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px Blue, 0 0 30px Blue, 0 0 40px Blue, 0 0 55px Blue, 0 0 75px blue;
}

body{

color:#0040FF;
background-color:black;
width: 98%;
}

#Contenedor{
background-color:black;
color:#0040FF;
width: 260px;
margin: auto;
text-align: center;
}



#Caja
{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color: blue;
font-size: 18px;
background: black;
text-align: center;
padding: 10px;
border-radius: 10px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
border: 2px solid #5878ca;
-webkit-box-shadow: 1px 8px 128px 21px blue;
-moz-box-shadow: 1px 8px 128px 21px blue;
box-shadow: 1px 8px 128px 21px blue;
}


#Caja2
{
width:90%;
color: blue;
background: black;
overflow: hidden;
padding: 20px;
border-radius: 10px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
border: 2px solid #5878ca;
-webkit-box-shadow: 1px 8px 128px 21px blue;
-moz-box-shadow: 1px 8px 128px 21px blue;
box-shadow: 1px 8px 128px 21px blue;
}

#Caja1{
padding: 1em 3em;
text-align: left;
width:80%;
overflow: hidden;
padding: 20px;
border-radius: 10px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
border: 2px solid #5878ca;
-webkit-box-shadow: 1px 8px 128px 21px blue;
-moz-box-shadow: 1px 8px 128px 21px blue;
box-shadow: 1px 8px 128px 21px blue;
}



button 
{
  width:200px;
  ght:30px;
  color: aqua;
  background: DarkBlue ;
  font-weight: bold;
  border: 1px solid aqua;
  border-radius: 4px;
  box-shadow: 0 3px black;
}
button:hover 
{
  color: aqua;
  background: blue;
}

button:active {
  background-color: aqua;
  color: blue;
  box-shadow: 0 1px Black;
  /*width:100px;*/
}

input[type="text"]
{
  background: black ;
  color:limegreen;
}

input[type="password"]
{
  background: black ;
  color:limegreen;
}

textarea
{
  width:800px;
  background: black ;
  color:limegreen;
}


::-webkit-input-placeholder { color: darkolivegreen   ; } /* WebKit */
:-moz-placeholder { color: darkolivegreen  ; } /* Firefox 18- */
::-moz-placeholder { color: darkolivegreen  ; } /* Firefox 19+ */
:-ms-input-placeholder { color: darkolivegreen  ; } /* IE 10+ */

#TamImput
{
  width:600px;
}