.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Ocultar el checkbox nativo */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* El fondo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

/* La perilla circular */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Color cuando está prendido */
input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

/* Mover la perilla al estar encendido */
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Bordes redondeados */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Reducimos la letra general y espacio del formulario */
.inventario-form {
    font-size: 13px;
}

/* Achicamos la altura y el padding de inputs, selects y textareas */
.inventario-form .form-control,
.inventario-form .select2-container--default .select2-selection--single {
    height: 30px !important;
    padding: 3px 8px !important;
    font-size: 12px !important;
}

.select2-container--krajee .select2-selection--single {
    height: 30px !important;
}

.select2-container--krajee .select2-selection {
    font-size: 12px;
}
.select2-container--krajee .select2-results > .select2-results__options {
    font-size: 12px!important;
}


.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 28px;
    padding: 3px 8px !important;
    font-size: 12px !important;
}

/* Achicamos las etiquetas (labels) y apretamos los márgenes */
.inventario-form label {
    font-size: 12px;
    margin-bottom: 2px;
}

.inventario-form .form-group {
    margin-bottom: 8px;
}


