/*@import 'reset.css';*/
@import 'traumatologia.css';

/* Base */
/*.fecha {
	font-family: Tahoma;
	font-size: 10px;
	width: 58px;
}*/

/* {
	background-color: #FFFFFF;
	border-width: 0px;
	border-bottom: 1px #AAAAAA dashed;
	font-size: 11px;
	color: #888888;
}*/
/*.textos {
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
}*/
.comentario {
	font-family: Tahoma;
	height: 80px;
	width: 600px;
}
/*
.botonImprimir {
    border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/printer.gif);

}
.botonVerImagenes {
    border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/ver_imagenes.jpg);

}
.botonHabilitar {
    border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/candado_abierto.png);

}
.botonDeshabilitar {
    border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/candado_cerrado.jpeg);

}*/
/*html {
	scrollbar-arrow-color: #333333;
	scrollbar-3dlight-color: #BBBBBB;
	scrollbar-darkshadow-color: #BBBBBB;
	scrollbar-face-color: #DDDDDD;
	scrollbar-highlight-color: #DDDDDD;
	scrollbar-shadow-color: #DDDDDD;
	scrollbar-track-color: #E8E8E8;
}
body {
	margin: 5px;
	background-color: #D0D0D0;
}
body, td, th {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
}*/
a:link, a:visited {
	color:#0066CC;
	text-decoration:none;
}
a:hover {
	color:#FF6600;
	text-decoration:underline;
}
.tablaMaster {
	width: 975px;
}
.inputText {
/*	background-color:#FFFFFF;
	font-size: 12px;
	border: #999999 solid 1px;
	color: #000000;*/
}
.inputLogin {
	background-color:#FFFFFF;
	font-size: 12px;
	border: #999999 solid 1px;
	color: #666666;
}
.inputLoginFocus {
	font-size: 12px;
	background-color:#FFFFAA;
	color: #FF6633;
	border: 1px #666666 dashed;
}
/*.inputText:focus {
	border: #FF9900 solid 1px;
}
.inputText:hover {
	border: #FF9900 solid 1px;
}*/
.inputTextNoModificable {
	background-color:#F0F0F0;
	font-size: 10px;
	color: #ff0000;
	border-width: 0px;
	font-weight: bold;
}
.inputTextModificable {
	background-color:#FFFFFF;
	font-size: 16px;
	color: #FF9933;
	border-width: 0px;
	font-weight: bold;
	margin:1px;
}
.inputTextModificableEditando {
	background-color:#FFFFAA;
	font-size: 16px;
	color: #FF9933;
	border: 1px #666666 dashed;
	font-weight: bold;
}
/* /Base */

/* Textos */
.textoTitulos {
	font-size: 18px;
	font-weight: bold;
}
.textoDatos {
	position:relative;
	margin-top:5px;
	font-size: 12px;
}
.textoDatosValor {
	color: #FF0000;
}
.textoResumenValor {
	color: #CC0000;
}
/* /Textos */

/* DIVs */
.camaLibre, .camaOcupada, .camaReservada,.camaOcupadaAltaEnfermeria,.camaOcupadaIntermitente {
	background-color:#dcdcdc;
	margin:0px 0px 10px 10px;
	cursor:pointer;
	background-image:url(../imagenes/cama_libre.gif);
	background-repeat:no-repeat;
	width:124px;
	height:88px;
	padding:14px;
	padding-right:10px;
	color:#000000;
	font-size:10px;
}
.camaOcupadaAltaEnfermeria {
	background-image:url(../imagenes/cama_alta_enfermeria_ocupada.gif);
}
.camaOcupada {
	background-image:url(../imagenes/cama_ocupada.gif);
}
.camaOcupadaIntermitente {
	background-image:url(../imagenes/cama_en_falta.gif);
}
.camaReservada {
	background-image:url(../imagenes/cama_reservada.gif);
	
}
.camaDiv, .camaOcupadaDIV, .camaDivReservada {
	height:90px;
	background-color:#FFFFFF;
	border:1px solid #333333;
	margin:0px 0px 10px 15px;
	cursor:pointer;
	background-image:url(../imagenes/pixel.png);
	background-repeat:repeat-y;
	background-position: 150px;
	width:190px;
	padding:5px;
}
/*.camaDiv:hover {
	border:3px solid #FF9900;
}*/
.camaDIVReservada {
	border:3px solid #990000;
	background-color: #66AA66;
}
.camaOcupadaDIV {
	border:3px solid #990000;
	background-color: #FFEEEE;
}
/*.camaOcupadaDIV:hover {
	border:3px solid #FF0000;
	background-color: #FFCCCC;
	color: #000000;
}*/
.flotanteAlerta {
	position: absolute;
	top: 40px;
	left: 5px;
	font-size: 11px;
	color: #000000;
	border: 1px #666666 solid;
	background-color: #FFFFFF;
	padding: 4px;
	padding-left: 24px;
	background-image: url(../imagenes/alerta.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	cursor: pointer;
}
/*
.flotantePasar, .flotanteEvolucion, .flotanteOpcionesTurnos {
	position: absolute;
	font-size: 11px;
	color: #000000;
	border: 1px #666666 solid;
	background-color: #FFFFFF;
	padding: 4px;
	display:none;
}
.flotantePasar {
	top: 83px;
	left: 645px;
	width: 250px;
	border-top: 3px #CC9900 solid;
}
.flotanteOpcionesTurnos {
	top: 40px;
	left: 2px;
	width: 250px;
	height: 210px;
	border-top: 3px #CC9900 solid;
}
.flotanteEvolucion {
	top: 83px;
	left: 824px;
	width: 175px;
	height: 75px;
	border-top: 3px #339933 solid;
}*/
/*.flotanteAlerta:hover {
	border: 1px #AA6666 solid;
	background-color: #FFAAAA;
}*/
/*.divsContenido {
	background-color:#F0F0F0;
	border: 1px #808080 solid;
	width: 100%;
	padding: 5px;
	text-align: left;
	padding-top: 4px;
}*/
/*
.divsTexto {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	width: 100%;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}*/
.divsScrolleables {
	background-color:#FFFFFF;
	overflow: auto;
	border: 1px #808080 solid;
	width: 500px;
	height: 70px;
	padding: 5px;
	text-align: left;
}
/*.ampliarContraer {
	background-color:#F0F0F0;
	border: 1px #808080 solid;
	border-bottom: 0px;
	width: 100%;
	padding: 2px;
	padding-right: 5px;
	text-align: right;
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
	color: #666;
	cursor: pointer;
}*/
/*.ampliarContraer:hover {
	background-color:#F0E000;
}*/
.solapaLink {
	background-color:#D8D8D8;
	border: 1px #808080 solid;
	width: 70px;
	padding: 5px;
	text-align: left;
	color: #666666;
	text-decoration: none;
	height: 40px;
	cursor: pointer;
	font-size: 12px;
}
/*.solapaLink:hover {
	background-color:#FFFFFF;
	height: 50px;
}*/
.solapaActiva {
	background-color:#F0F0F0;
	border: 1px #808080 solid;
	border-bottom: 0px;
	width: 100px;
	padding: 5px;
	text-align: left;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	height: 45px;
	margin-top: 5px;
	background-image:url(../imagenes/esquinita.gif);
	background-repeat:no-repeat; 
	background-position: right 1px;
	cursor:pointer;
}

.miniTabs, .miniTabsActiva {
	background-color:#D8D8D8;
	border: 1px #808080 solid;
	width: 70px;
	padding: 5px;
	text-align: left;
	color: #666666;
	text-decoration: none;
	height: 24px;
	cursor: pointer;
	font-size: 10px;
}
/*.solapaLink:hover {
	background-color:#FFFFFF;
	height: 50px;
}*/
.miniTabsActiva {
	background-color:#F0F0F0;
	border-bottom: 0px;
	width: 100px;
	font-weight: bold;
	height: 29px;
	background-image:url(../imagenes/esquinita.gif);
	background-repeat:no-repeat; 
	background-position: right 1px;
}

.solapaBoton {
	background-color:#E0E0E0;
	border-top: 1px #FFFFFF solid;
	border-left: 1px #FFFFFF solid;
	border-right: 1px #808080 solid;
	border-bottom: 1px #808080 solid;
	width: 90px;
	padding: 5px;
	text-align: center;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	height: 25px;
	position: relative;
	top:-10px;
	margin-left: 10px;
	cursor: pointer;
}
/*.solapaBoton:hover {
	border: 1px #FF8800 solid;
	background-color: #F0E000;
	color: #FF6600;
}*/
/*.divBoton {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	padding: 3px;
	text-align: center;
	cursor: pointer;
}*/
/*.divBoton:hover {
	border: 1px #FF8800 solid;
	background-color: #F0E000;
	color: #FF6600;
}*//*
.divBoton24x24 {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	cursor: pointer;
	width:24px;
	height:24px;
}
.divBoton75x24 {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	cursor: pointer;
	width:75px;
	height:24px;
}
.divBoton100x24,.botonFlechaIzquierda,.botonFlechaDerecha,.botonNew {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	cursor: pointer;
	width:100px;
	height:24px;
	background-repeat:no-repeat;
	background-position:5px;
}/*
.botonLimpiar,
.botonEnviar,
.botonHome,
.botonAtras,
.botonExcel,
.botones,
.divBotonIMG,
.botonEditar,
.botonCerrar,
.botonGuardar,
.botonMas,
.botonDiagnosticos,
.botonCancelar,
.botonMasEvo,
.botonEvolucionar,
.botonPasar,
.botonMasMenos,
.botonGrafico,
.botonReclamar,
.botonConsultaActual,
.botonAlerta {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	padding: 3px;
	padding-left: 22px;
	cursor: pointer;
	text-align:left;
	margin-right: 2px;
	width:100px;
	background-repeat:no-repeat;
	background-position:5px;
	height: 24px;
}
.botonNew {
	background-image: url(../imagenes/new.png);
}
.botonFlechaIzquierda {
	background-image: url(../imagenes/bullet_go.gif);
}
.botonFlechaDerecha {
	background-image: url(../imagenes/flecha_deracha.gif);
}
.botonLimpiar {
	background-image: url(../imagenes/cancel.gif);
}
.botonEnviar {
	background-image: url(../imagenes/tick.gif);
}
.botonExcel {
	background-position:4px 4px;
	font-size: 9px;
	float: none;
	margin: 0px;
	padding-left: 30px;
	background-image: url(../imagenes/excel.gif);
}
.botonBuscar {
    border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/buscar.png);
}
.botonAlerta {
border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/alerta.gif);
}
.botonSimboloMas {
border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #FFFFFF;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
	background-image: url(../imagenes/micro_mas.gif);
}
.botonAtras,.botonHome {
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-left: 25px;
}
.botones {
border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB #666666 #666666 #BBBBBB ;
	background-color: #EEEEEE;
	height: 17px;
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 24px;
}
.botonAtras {
	background-image: url(../imagenes/bullet_go.gif);
}
.botonHome {
	background-image: url(../imagenes/house.gif);
}
.botonEditar {
	background-image:url(../imagenes/pencil.gif);
	background-position: 2px 2px;
	float: none;
	margin: 0px;
	width: 75px;
	margin-top: 1px;
}
.botonMasEvo {
	background-image:url(../imagenes/masEvo.gif);
	background-position: 2px 2px;
	float: none;
	margin: 0px;
	width: 75px;
	margin-top: 1px;
}
.botonReclamar {
	background-image:url(../imagenes/masEvo.gif);
	background-position: 2px 2px;
	float: none;
	margin: 0px;
	width: 75px;
	margin-top: 1px;
}
.botonCerrar {
	background-image:url(../imagenes/cerrar.gif);
	background-position: 3px 3px;
	font-size: 9px;
	font-weight: bold;
	height: 18px;
	float: none;
	margin: 0px;
	width: 18px;
	margin-top: 1px;
	text-align: center;
	padding: 0px;
}
.botonGuardar {
	background-image:url(../imagenes/disco.gif);
	font-size: 9px;
	height: 24px;
	float: none;
	margin: 0px;
	margin-top: 1px;
}
.botonMas {
	background-image:url(../imagenes/mas.gif);
	font-size: 9px;
	height: 24px;
	float: none;
	margin: 0px;
	margin-top: 1px;
}
.botonDiagnosticos {
	background-image:url(../imagenes/txt.gif);
	font-size: 9px;
	height: 24px;
	float: none;
	margin: 0px;
	margin-top: 1px;
}
.botonCancelar {
	background-image:url(../imagenes/cancelar.gif);
	font-size: 9px;
	height: 24px;
	float: none;
	margin: 0px;
	margin-top: 1px;
}
.botonEvolucionar {
	background-image:url(../imagenes/evolucionar.gif);
	background-position:4px 4px;
	font-size: 9px;
	float: none;
	margin: 0px;
}
.botonConsultaActual {
	background-image:url(../imagenes/evolucionar.gif);
	background-position:4px 4px;
	font-size: 9px;
	width:110px;
	float: none;
	margin: 0px;
}
.botonPasar {
	background-image:url(../imagenes/pasar.gif);
	background-position:4px 4px;
	font-size: 9px;
	float: none;
	margin: 0px;
}
.botonMasMenos {
	background-image: url(../imagenes/masmenos.gif);
	background-position: 1px 1px;
	font-size: 9px;
	float: none;
	margin: 0px;
	height: 20px;
	width: 20px;
}
.botonGrafico {
	background-image: url(../imagenes/grafico.gif);
	background-position: 1px 1px;
	font-size: 9px;
	float: none;
	margin: 0px;
	height: 20px;
	width: 20px;
}*/
/*.divBotonIMG:hover {
	border: 1px #FF8800 solid;
	background-color: #F0E000;
	color: #FF6600;
}*/
.evolucionIngreso,.evolucionSala,.evolucionMaternidad,.evolucionGuardia,.evolucionHemoterapia,.evolucionApache,.evolucionQuirurgica, .evolucionNeo,.evolucionTerapia, .evolucionQuirofano,.evolucionEndoscopico, .evolucionQuirofano2, .evolucionVisitaAnestesica, .evolucionEnfermeria, .evolucionEpicrisis,.evolucionAcompananteTerapeutico,.evolucionNutricion {
	background-color: #FFFFFF;
	padding: 5px;
	margin: 10px;
	color: #000000;
	font-size: 13px;
}
.evolucionHemoterapia {
	border: #0000FF 1px solid;
}
.evolucionIngeso {
	border: #00FFFF 1px solid;
}
.evolucionQuirurgica {
	border: #2E8B57 1px solid;
}
.evolucionSala {
	border: #CCCCCC 1px solid;
}
.evolucionMaternidad {
	border: #800080 1px solid;
}
.evolucionGuardia {
	border: #cd5c5c 1px solid;
}
.evolucionApache {
	border: #8b4513 1px solid;
}
.evolucionNeo {
	border: #CCCCCC 1px solid;
}
.evolucionTerapia {
	border: #C65353 1px solid;
}
.evolucionQuirofano {
	border: #009900 1px solid;
}
.evolucionEndoscopico {
	border: #ffff00 1px solid;
}
.evolucionQuirofano2 {
	border: #007700 1px solid;
}
.evolucionVisitaAnestesica {
	border: #335577 1px solid;
}
.evolucionEnfermeria {
	border: #CC9977 1px solid;
}
.evolucionEpicrisis {
	border: #CC7799 1px solid;
}
.evolucionAcompananteTerapeutico{
    border: #00ffff 1px solid;
}
.evolucionNutricion{
    border: #808000 1px solid;
}
.evolucionTextoIngreso,.evolucionTextoQuirurgica,.evolucionTextoHemoterapia,.evolucionTextoSala,.evolucionTextoMaternidad,.evolucionTextoGuardia,.evolucionTextoApache, .evolucionTextoNeo, .evolucionTextoTerapia, .evolucionTextoQuirofano,.evolucionTextoEndoscopico, .evolucionTextoQuirofano2, .evolucionTextoVisitaAnestesica, .evolucionTextoEnfermeria, .evolucionTextoEpicrisis, .evolucionTextoAcompananteTerapeutico, .evolucionTextoNutricion {
	padding: 3px;
	color: #000000;
	margin-top: 5px;
}
.evolucionTextoHemoterapia {
	border: #0000ff 1px solid;
	background-color: #0000FF;
}
.evolucionTextoIngreso {
	border: #00FFFF 1px solid;
	background-color: #EEEEEE;
}
.evolucionTextoQuirurgica {
	border: #2e8b57 1px solid;
	background-color: #EEEEEE;
}
.evolucionTextoSala {
	border: #CCCCCC 1px solid;
	background-color: #EEEEEE;
}
.evolucionTextoMaternidad {
	border: #800080 1px solid;
	background-color: #800080;
}
.evolucionTextoGuardia {
	border: #cd5c5c 1px solid;
	background-color: #cd5c5c;
}
.evolucionTextoApache {
	border: #8b4513 1px solid;
	background-color: #8b4513;
}
.evolucionTextoNeo {
	border: #CCCCCC 1px solid;
	background-color: #EEEEEE;
}
.evolucionTextoTerapia {
	border: #C65353 1px solid;
	background-color: #ECC6C6;
}
.evolucionTextoQuirofano {
	border: #009900 1px solid;
	background-color: #B3FFB3;
}
.evolucionTextoEndoscopico {
	border: #ffff00 1px solid;
	background-color: #ffff00;
}
.evolucionTextoQuirofano2 {
	border: #007700 1px solid;
	background-color: #83CF83;
}
.evolucionTextoVisitaAnestesica {
	border: #335577 1px solid;
	background-color: #6699DD;
}
.evolucionTextoEnfermeria {
	border: #CC9977 1px solid;
	background-color: #FFDDAA;
}
.evolucionTextoEpicrisis {
	border: #CC7799 1px solid;
	background-color: #FFAADD;
}
.evolucionTextoAcompananteTerapeutico{
	border: #00ffff 1px solid;
	background-color: #00ffff;
}
.evolucionTextoNutricion{
	border: #808000 1px solid;
	background-color: #808000;
}
/* /DIVs */
/* ELEMENTOS */
.textArea {
	background-color:#FFFFFF;
	border: 1px #808080 solid;
	width: 500px;
	height: 100px;
	padding: 10px;
	text-align: left;
	padding-top: 4px;
}
/* /ELEMENTOS */
/* LINKS */
.menuRapidoLink {
	color:#333333;
	text-decoration:none;
}
OPTION.mar{background-color:008b00; color:white}
/* scroll para las tablas*/
.scrollable { height:100px; overflow-y:auto; overflow-x:hidden; }
/*.menuRapidoLink:visited {
	color:#333333;
	text-decoration:none;
}
.menuRapidoLink:hover {
	color:#FF0000;
	background-color: #EEEEEE;
	text-decoration:none;
}*/
/* /LINKS */
/*#menu { 
	border: 1px solid #000000;
	border-width: 1px 1px 0 1px;
	width: 150px; font-family: Arial; 
	font-size: 1.5em; }
#menu ul { margin: 0; padding: 0; }
#menu li {
	list-style-type: none;
	border-bottom: 1px solid #000000; } 
#menu a { display: block;
          text-decoration: none; 
          color: #FFFFFF; 
          background: 	#5e5e5e; 
          padding: 3px 6px 3px 6px; } 
#menu a:hover { background: #D0D0D0; }*/
/* pestanas */
#pestanas {
    float: top;
    font-size: 2ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #5e5e5e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #FFFFFF;
}

#contenidopestanas{
    clear: both;  
    background: #FFFFFF;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}
/*para el menu black vertical*/
.button_menu_vertical {
    outline: 0;
    padding: 5px 12px;
   display: block;
    color: #9fa8b0;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.button_menu_vertical:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button_menu_vertical:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

/* Search CSS: */
.search-input {
    padding: 0 5px 0 22px;
    border: 1px solid #1c252b;
    height: 30px;
    color: #9fa8b0;
    font-size: 12px;
    line-height: 30px;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}
.search-input:focus {outline: none;}
.search-submit {
    width: 13px;
    height: 13px;
    border: none;
    background: url(mag-glass.png) no-repeat;
    display: block;
    position: absolute;
    left: 26px;
    top: 10px;
    text-indent: -9999em;
}

/* Vertical List: */
.vertical-list {
    list-style: none;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}
.vertical-list .button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #515B62; /* old browsers */
    background: -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515B62', endColorstr='#394147',GradientType=0 ); /* ie */
}
.vertical-list .button:hover {
    background: #5F6B72; /* old browsers */
    background: -moz-linear-gradient(top, #5F6B72 3%, #56646C 4%, #4D5A62 50%, #434D54 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#5F6B72), color-stop(4%,#56646C), color-stop(50%,#4D5A62), color-stop(100%,#434D54)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5F6B72', endColorstr='#434D54',GradientType=0 ); /* ie */
}
.vertical-list .button:active {
    padding: 5px 12px;
    top: 0;
    background: #515B62; /* old browsers */
    background: -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515B62', endColorstr='#394147',GradientType=0 ); /* ie */        -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
}